vendor/
node_modules/
bower_components/
bootstrap/compiled.php
app/storage/
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
.DS_Store
.AppleDouble
.LSOverride
.Trashes
.sass-cache/
*.css.map
public/assets/images/breweries/
